:root {
  --main-link-color: #01ffc2;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

/* For small screens, apply styles directly */
/* --------------------------------------- */
body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #0e1621, #333);
  color: #fff;
}

h1 {
  font-weight: lighter;
}

.section {
  min-height: 100vh;
}

.section-heading {
  text-align: center;
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.intro-section h1 {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 20px;
}

.intro-section p {
  font-size: 24px;
  font-weight: 100;
}

.intro-text {
}

.about-me {
  min-height: 100vh;
  padding-top: 3rem;
}
.about-me p {
  font-weight: lighter;
  margin-bottom: 1.5rem;
  font-size: large;
}

.divider {
  width: 4em;
  height: 1px;
  margin: 1em auto;
  border-radius: 50px;
  background-color: #fff;
  position: relative;
}

.additional-text {
  display: none;
}

/* Futuristic Design */
/* ================== */

/* Cards */
/* ----- */
.card {
  background-color: #222;
  font-weight: lighter;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  padding: 20px;
  margin-bottom: 3rem;
}

.card h2 {
  font-weight: lighter;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: var(--main-link-color);
}

a:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--main-link-color);
}

/* Buttons */
/* ------- */
.button {
  background-color: transparent;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #01a4ff, var(--main-link-color)) 1;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: border-image 0.5s ease;
}

.button:hover {
  /* box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 4px #01a4ff,
    0 0 7px #01a4ff, 0 0 8px #01a4ff, 0 0 10px #01a4ff, 0 0 15px #01a4ff; */
  background-color: var(--main-link-color);
  border-image: none;
  color: #000;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.show-more-button {
  border: 1px solid var(--main-link-color);
  background-color: transparent;
  border-radius: 50%;
  padding: 0.5em;
  color: #fff;
}
.show-more-button:hover {
  border: 1px solid var(--main-link-color);
  background-color: var(--main-link-color);
}

/* Containers */
/* ----------- */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
/* ------ */
.header {
  background: linear-gradient(to bottom right, #0e1621, #131b29);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 10px;
}

.header p {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

/* Work Section */
/* --------------- */

.work-section {
  margin-top: 3rem;
  padding: 50px 0;
  min-height: 50vh;
}

/* Achievements Section */
/* --------------- */
.achievements {
  margin-top: 3rem;
  padding: 50px 0;
  min-height: 50vh;
}

.achievement-cards,
.work-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

.achievement-card,
.work-item {
  flex-basis: 100%;
  margin-bottom: 40px;
  border-radius: 20px;
  background-color: #222;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  transform: translate(0, -20px);
  transition: all 0.3s ease-in-out;
}

.achievement-card h3 {
  font-weight: lighter;
}

.work-item {
  background-color: beige;
  color: #222;
}

.work-item a {
  color: #222;
}

.trophy-icon {
  vertical-align: middle;
}

/* Contact Section */
/* --------------- */
.contact-me {
  margin-top: 3rem;
  padding: 50px 0;
  min-height: 50vh;
  /* background: linear-gradient(to bottom right, #6b0cff, #f22c5e);
  box-shadow: 0px 0px 50px #6b0cff; */
}

.contact-me h1 {
  color: #fff;
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.contact-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.contact-card {
  flex-basis: 100%;
  margin-bottom: 40px;
  border-radius: 20px;
  background-color: #222;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  transform: translate(0, -20px);
  transition: all 0.3s ease-in-out;
}

.contact-card:hover,
.achievement-card:hover {
  transform: translate(0, -30px);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.3);
}

.contact-card {
  padding: 20px;
}

.contact-cardt h3 {
  font-size: 24px;
  color: #6b0cff;
  display: flex;
  align-items: center;
}

.contact-card a,
.contact-card p,
.achievement-card a,
.achievement-card p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

/* Footer Styles */
footer {
  color: #fff;
  padding: 30px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo {
  font-size: 20px;
  font-weight: bold;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-bottom {
  font-size: 14px;
}

/* For larger screens, apply styles via media query */
/* ------------------------------------------------ */
@media (min-width: 768px) {
  body {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.6;
  }

  .intro-section h1 {
    font-size: 3.5rem;
    font-weight: 100;
    margin-bottom: 20px;
  }

  .container {
    max-width: 55vw;
    margin: 0 auto;
    padding: 0 20px;
  }

  .about-me {
    min-height: 80vh;
  }
  .about-me p {
    font-size: 20px;
  }

  .contact-card {
    flex: 0 1 calc(25% - 1em);
  }

  .achievement-cards,
  .work-items {
    width: 50vw;
  }
}
